
* {margin: 0;padding: 0;box-sizing: border-box;font-family: Arial, sans-serif;}

header {background-color: #7e46ff; color: #000000;padding: 10px 0;position: sticky;top: 0;z-index: 1000;opacity: .5;}

header .matha {width: 90%;max-width: 1200px;margin: 0 auto;display: flex;justify-content: space-between;align-items: center;}

header .start{font-size: 2rem; margin:0; color: #eee199;}
mathar-part{display: flex;flex-direction: column;align-items: flex-start; }

header .status {font-size: 0.8rem;    color: #ff7301;   margin-top: 1.9px;}

header nav ul {display: flex;list-style: none;gap: 20px;}

header nav ul li a {color: rgb(255, 198, 124);text-decoration: none;font-weight: bold;}

header nav ul li a:hover {color: #000000;}

.hero {position: relative;display: flex;justify-content: center;align-items: center;padding: 100px 20px;height: 100vh; /* full screen */background-image: url('background.jpg.jpg'); background-size: cover;  background-position: center;background-repeat: no-repeat;}

.hello-box {position: relative;background-color: rgba(0,0,0,0.6); color: white;padding: 40px 60px;text-align: center; border-radius: 10px; font-size: 2rem; box-shadow: 0 4px 12px rgba(0,0,0,0.5);}

.portfolio {
  padding: 60px 20px;
  background-color: #b08cdf;
  text-align: center;
}

.portfolio h2 {
  font-size: 2.2em;
  margin-bottom: 40px;
  color: #222;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.project-card {
  background: #dec9ff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 300px;
  padding: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.project-card h3 {
  color: #333;
  margin-bottom: 10px;
  font-size: 1rem; 
  font-weight: 600;
}

.project-card p {
  color: #555;
  font-size: 14px;
  margin-bottom: 18px;
}

.project-card a {
  color: #1877f2; 
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #1877f2;
  padding: 8px 14px;
  border-radius: 6px;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

.project-card a:hover {
  background-color: #1877f2;
  color: #fff;
}


.about {padding: 60px 20px; text-align: center; background-color: #b08cdf;}

.about h2 {font-size: 2.5rem;margin-bottom: 20px;margin: cm;}

.about h3 { font-size: 1.3rem;max-width: 720px;text-align: left;}
.about b{text-align:left;font-size: 2rem; }

footer { background-color: #1b121b;color: #fafafa;text-align:center;padding: 30px 0;
.contact-card b { display: block; font-size: 18px;margin-bottom: 10px;}

.social-icons a { color: white; margin: 0 10px; font-size: 24px; text-decoration: none; transition: color 0.3s ease;}

.social-icons a:hover { color: #00aced; }}

@media (max-width: 768px) {.projects {flex-direction: column;align-items: center;}}
